<% layout('./layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/camps/create"
      enctype="multipart/form-data"
      method="POST"
      class="needs-validation"
      novalidate
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          required
          class="form-control"
          type="text"
          id="title"
          name="camp[title]"
        />
        <div class="invalid-feedback">Please provide a title</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          required
          class="form-control"
          type="text"
          id="location"
          name="camp[location]"
        />
        <div class="invalid-feedback">Please specify a location</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="images">Images</label>
        <input
          required
          class="form-control"
          type="file"
          accept="images"
          id="images"
          name="images"
          multiple
        />
        <div class="invalid-feedback">Please upload image</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            required
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            name="camp[price]"
          />
          <div class="invalid-feedback">Please choose a price</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          required
          class="form-control"
          type="text"
          id="description"
          name="camp[description]"
        ></textarea>
        <div class="invalid-feedback">Please give some description</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
      </div>
    </form>
    <a href="/camps" class="btn btn-info text-light">All Campgrounds</a>
  </div>
</div>
