<% layout('../layouts/boilerplate') -%> 
    <h1>Campgrounds</h1>
    <a href="/camps/create">New Camp</a>
    <a href="/camps">Show Camps</a>
    <hr />
    <% campgrounds.map(camp => { %>
    <li><a href="/camps/<%= camp.id %> "><%= camp.title %> </a></li>
    <% }); %>
