<% layout('./layouts/boilerplate') %>
<div class="alert alert-danger col-8 offset-2" role="alert">
  <h4 class="alert-heading"><%= err.statusCode %></h4>
  <p><%= err.message %></p>
  <hr />
  <a href="/" class="btn btn-info text-light">Go to home page</a>
</div>
